<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="theme.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include "navbar.twig" %}
{% block content %}{% endblock %}

</body>
</html>
