{% extends "coolio.twig" %}
{% block title %} You are not signed in {% endblock %}
{% block content %}
    <div id="cont">
        <a href="Login.php">Please Log in</a>
    </div>
{% endblock %}